.box {
	width:100%;
	height:50%;
	background: white;
	margin: auto;
	border: solid;
	height: 280px;
}

.panelGrid {
	margin-top:80px;
	margin-left:280px;
	font-family: sans-serif;
	color: #000;
}

.container {
	margin:auto;
	height:450px;
	width:900px;
	background: #c0c0c0;
	border: solid;
}