@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.box {
	width:100%;
	height:50%;
	background: white;
	margin: auto;
	border: solid;
	height: 280px;
}

.panelGrid {
	margin-top:80px;
	margin-left:280px;
	font-family: sans-serif;
	color: #000;
}

#menu{
	width: 20%;
	margin-left: 110px;
	margin-top: 40px;
}

.letraK{
	text-align: center;
	font-family: 'Kaushan Script';
	font-size: 28px;
}



